<!DOCTYPE html>
<html>
<head>
    <title>{{ apartman.naziv }}</title>
</head>
<body>
    <h1>{{ apartman.naziv }}</h1>
    <p><strong>Naziv:</strong> {{ apartman.naziv }}</p>
    <p><strong>Company:</strong> {{ apartman.company }}</p>
    <p><strong>Size:</strong> {{ apartman.size }} m²</p>
    <p><strong>Opis:</strong> {{ apartman.opis|default:"N/A" }}</p>
    <p><strong>Additional Content:</strong> {{ apartman.additional_content|default:"N/A" }}</p>

    <br>
    <a href="{% url 'apartman_list' %}">Back to List</a>
    <a href="{% url 'apartman_update' apartman.pk %}">Edit</a>
    <a href="{% url 'apartman_delete' apartman.pk %}">Delete</a>
</body>
</html>