<!DOCTYPE html>
<html>
<head>
    <title>Booking Details</title>
</head>
<body>
    <h1>Booking for {{ booking.apartman.naziv }}</h1>
    <p><strong>Apartment:</strong> {{ booking.apartman }}</p>
    <p><strong>Customer:</strong> {{ booking.customer }}</p>
    <p><strong>From:</strong> {{ booking.date_from }}</p>
    <p><strong>To:</strong> {{ booking.date_to }}</p>
    <p><strong>Visitors:</strong> {{ booking.visitors_count }}</p>
    <p><strong>Status:</strong> {% if booking.approved %}Approved{% else %}Pending Approval{% endif %}</p>

    <br>
    <a href="{% url 'booking_list' %}">Back to List</a>
    <a href="{% url 'booking_update' booking.pk %}">Edit</a>
    <a href="{% url 'booking_delete' booking.pk %}">Delete</a>
</body>
</html>